.git
.gitignore
.pytest_cache
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store
.venv/
venv/

.env
.env.*
!.env.example
!.env.prod.example

tests/
docs/*
!docs/L1客户案例/
docs/L1客户案例/*
!docs/L1客户案例/*.md
!docs/product_matrix_processed/
docs/product_matrix_processed/*
!docs/product_matrix_processed/*.md
!docs/用户调研报告.md
!docs/vendor_client_db.csv
docker-compose*.yml
